* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgba(243, 239, 239, 0.067);
}

.container {
  border: solid 2px (255, 255, 255, 0.3);
}

table {
  color: #000;
  font-size: 17px;
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  background: rgba(243, 140, 210, 0.4);
}

th {
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  border-bottom: solid 1px rgb(255, 255, 255, 0.2);
}

.delete-button {
  font-size: 30px;
  margin: 1px;
}

.edit-button {
  font-size: 35px;
  margin: 1px;
}

.delete-button:hover {
  transition: 0.3;
  font-size: 28px;
  color: #000;
}

.edit-button:hover {
  transition: 0.3;
  font-size: 30px;
  color: #000;
}

.delete-button:active {
  transition: 0.3;
  font-size: 28px;
  color: #254b5e;
}

.edit-button:active {
  transition: 0.3;
  font-size: 30px;
  color: #254b5e;
}

.table-container {
  overflow-x: auto;
}

.add-button {
  margin: 15px;
  border: 10px;
  background: rgba(243, 140, 210, 0.4);
  ;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
  transform: translateX(-15px);
}

.add-button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 1566px) {

  table {
      max-width: 1500px;
      width: 100%;
  }
}

@media screen and (max-width: 1490px) {

  table {
      max-width: 1450px;
      width: 100%;
  }
}

@media screen and (max-width: 1430px) {

  table {
      max-width: 1400px;
      width: 100%;
  }
}

@media screen and (max-width: 1380px) {

  table {
      max-width: 1350px;
      width: 100%;
  }
}

@media screen and (max-width: 1315px) {

  table {
      max-width: 1270px;
      width: 100%;
  }
}

@media screen and (max-width: 1245px) {

  table {
      max-width: 1200px;
      width: 100%;
  }
}

@media screen and (max-width: 1190px) {

  table {
      max-width: 1150px;
      width: 100%;
  }
}

@media screen and (max-width: 1115px) {

  table {
      max-width: 1050px;
      width: 100%;
      font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {

  table {
      max-width: 900px;
      width: 100%;
      font-size: 13px;
  }

  .add-button {
      font-size: 14px;
  }
}

@media screen and (max-width: 870px) {

  table {
      margin: 0 auto;
      width: 90%;
      max-width: 700px;
      border: 1px solid #000;
  }

  tbody {
      text-align: center;
      background: #fff;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
      display: block;
  }

  tbody {
      text-align: center;
  }

  table {
      margin: 0 auto;
      width: 90%;
      max-width: 700px;
  }

  thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  tr {
      margin: 15px;
      text-align: left;
  }


  td {
      position: relative;
      padding-left: 50%;
      margin: 15px;
  }

  td .image1 {
      background-position: center;
      vertical-align: middle;
  }

  td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      transform: translateY(25px);
      text-align: left;
  }

  td:nth-of-type(1):before {
      content: "Code";
  }

  td:nth-of-type(2):before {
      content: "Name of Product";
  }

  td:nth-of-type(3):before {
      content: "Price";
  }

  td:nth-of-type(4):before {
      content: "Category";
  }

  td:nth-of-type(5):before {
      content: "Type";
  }

  td:nth-of-type(6):before {
      content: "Color";
  }

  td:nth-of-type(7):before {
      content: "Size";
  }

  td:nth-of-type(8):before {
      content: "Image";
  }

  td:nth-of-type(9):before {
      content: "Action";
  }
}