.menuItems button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0.7rem 1rem;
  }
.icons{
  transition: 0.2s ease;
}
.icons:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 811px) {
  .img{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
  }
}