:root {
  --border-radius: 10px;
  --box-shadow-card: 10px 10px 20px #00000060;
  --width-card: 400px;
  --min-height-card: 500px;
  --box-shadow-image-card: 6px 6px 10px #00000060;
}

body {
  background-color: #f2f2f2;
}