:root {
  --border-radius: 10px;
  --box-shadow-card: 10px 10px 20px #00000060;
  --width-card: 500px;
  --min-height-card: 500px;
  --box-shadow-image-card: 6px 6px 10px #00000060;
  --women-background-gradient: linear-gradient(135deg, #800040 0%, #FD0F0F 100%);
  --men-background-gradient: linear-gradient(135deg, #001480 0%, #00FFD1 100%);
  --girl-background-gradient: linear-gradient(135deg, #FF0080 0%, #F1E6D2 100%);
  --boy-background-gradient: linear-gradient(135deg, #00FFB3 0%, #00604E 100%);
  --font-family-poppins: 'Poppins', sans-serif;
  --primary-color: #254B5E;
}