* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/bc/03/dd/bc03dd204fa7ba0cdbb02f91ebd37777.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.profile-container {
  width: 900px;
  height: 600px;
  background: transparent;
  backdrop-filter: blur(20px);
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-user {
  transform: translateX(600px) translateY(170px);
  font-size: 200px;
}

.profile-container h1{
  font-size: 36px;
  text-align: center;
}

.profile-container .input-box {
  width: 60%;
  height: 50px;
  margin: 30px 0;
  
}

.input-box input {
  transform: translateY(-150px);
  width: 100%;
  height: 105%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box{
  position: relative;
}
.input{
  
  background-color: aqua;
}

.icon{
  transform: translateY(-150px);
  position: absolute;
  right: 5%;
  top:41%;
  z-index: 100;
}

.input-box input::placeholder {
  color: #fff;
}

.filter-bar {
  transform: translateY(-120px);
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 17px 45px 15px 15px;
}

.options {
  color: #000;
}



@media (max-height: 1000px) {
  .profile-container {
    width: 800px;
    height: 500px;
    padding: 10px 20px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .input-box input {
    transform: translateY(-210px);
    width: 95%;
    height: 95%;
    font-size: 14px;
    padding: 20px 45px 20px 20px;
  }

  .icon{
    transform: translateY(-215px);
    position: absolute;
    right: 10%;
  }

  .image-user {
    transform: translateX(500px) translateY(100px);
      
  }

  .filter-bar {
    transform: translateY(-180px);
    width: 95%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 40px;
    font-size: 14px;
    color: #fff;
    padding: 14px 45px 15px 15px;
  }
} 


@media (max-height: 890px) {
  .profile-container {
    width: 600px;
    height: 350px;
    padding: 10px 20px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .input-box input {
    transform: translateY(-230px);
    width: 75%;
    height: 75%;
    font-size: 14px;
    padding: 20px  30px 20px 10px;
  }

  .icon{
    transform: translateY(-230px);
    position: absolute;
    right: 30%;
  }

  .image-user {
    transform: translateX(320px) translateY(30px);
      
  }

  .filter-bar {
    transform: translateY(-220px);
    width: 75%;
    background: transparent;
    border-radius: 40px;
    font-size: 14px;
    padding: 5px 55px 15px 10px;
  }

  .profile-container .input-box {
    width: 60%;
    height: 35px;
    margin: 25px 0;
    
  }
} 

@media (max-height: 715px) {
  .profile-container {
    width: 450px;
    height: 270px;
    padding: 10px 20px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
  
  .input-box input {
    transform: translateY(-230px);
    width: 75%;
    font-size: 12px;
    padding: 15px  20px 13px 10px;
  }

  .icon{
    transform: translateY(-230px);
    position: absolute;
    right: 30%;
  }

  .image-user {
    transform: translateX(220px) translateY(-10px);
      
  }

  .filter-bar {
    transform: translateY(-220px);
    width: 75%;
    background: transparent;
    border-radius: 40px;
    font-size: 12px;
    padding: 0px 65px 4% 10px;
  }

  .profile-container .input-box {
    width: 60%;
    height: 15px;
    margin: 25px 0;
  }
} 


@media (max-height: 600px) {
  .profile-container h1{
    font-size: 20px;
    text-align: center;
  }

  .profile-container {
    width: 200px;
    height: 200px;
    padding: 10px 20px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
  
  .input-box input {
    transform: translateY(-95px);
    width: 75%;
    font-size: 12px;
    padding: 5px  20px 13px 5px;
  }

  .icon{
    transform: translateY(-90px);
    position: absolute;
    right: 30%;
    font-size: 10px;
  }

  .image-user {
    transform: translateX(100px) translateY(40px);
    font-size: 60px;
  }

  .filter-bar {
    transform: translateY(-95px);
    width: 75%;
    background: transparent;
    border-radius: 40px;
    font-size: 12px;
    padding: 0px 65px 4% 10px;
  }

  .profile-container .input-box {
    width: 60%;
    height: 2px;
    margin: 25px 0;  
  }
} 