.profile-container {
  min-height: 100vh;  
  background-image: url('https://i.pinimg.com/originals/bc/03/dd/bc03dd204fa7ba0cdbb02f91ebd37777.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.label-manager{
  background-color:aliceblue;
  padding: 20px 40px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 85%;
  margin: 0 auto;
  padding-top: 20px;
}

.label-manager__label-first-name {
  border-bottom: 1px solid black;
}