.side-menu-container {
    position: fixed;
    top: 60px;
    right: -400px;
    width: 400px;
    height: calc(100vh - 60px);
    background-color: #fff;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    box-shadow: -1px 0 5px #00000050;
    font-family: var(--font-family-poppins);
    z-index: 10;
}

.side-menu-container.is-open {
    right: 0;
}

.list-options-side-menu-container {
    width: 100%;
    height: 100%;
}

.side-menu-option {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: block;
    cursor: pointer;
}

.side-menu-option.with-submenu {
    height: auto;
    padding: 0 0 0 20px;
}

.list-submenu-menu-option-sm {
    width: 100%;
    height: auto;
    display: none;
    transition: all 0.5s;
}

.list-submenu-menu-option-sm.submenu-open {
    display: block;
}

.main-button-with-submenu {
    width: 100%;
    display: grid;
    grid-template-columns: auto 40px;
}

.open-submenu-button {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.line-submenu-button {
    width: 16px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.line-submenu-button:nth-child(1) {
    transform: rotate(90deg);
    left: calc(50% - 8px);
    top: calc(50% - 1px);
}

.line-submenu-button.active:nth-child(1) {
    transform: rotate(0);
}

.submenu-menu-option-sm {
    padding: 0 20px;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 20px 0 0 20px;
}

.submenu-menu-option-sm:hover {
    background-color: #ededed;
}

a {
    text-decoration: none;
    color: #000;
}

.side-menu-option.no-visible {
    display: none;
}

@media (max-width: 630px) {
    .side-menu-option.no-visible {
        display: block;
    }
}

@media (max-width: 410px) {
    .side-menu-container {
        position: fixed;
        top: 60px;
        right: -100%;
        width: 100%;
    }
}