.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0.5rem;
    gap: 3rem;
    margin: 0;
}
.menuItems {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

.searchContainer{
    border: 1px solid black;
    border-radius: 60px;
}

.searchBar{
    width: 100%;
    max-width: 700px;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
}
.searchBar{
    background: transparent;
    border: 0;
    outline: none;
    font-size: 18px;
    color: black;
}
.searchButton{
    border: 0;
    border-radius: 50%;
    width: 43px;
    height: 40px;
    background-color: #254B5E;
    cursor: pointer;
}
.logoImg{
    object-fit: contain;
    margin: 0.5rem 0 0 0;
}