.checkout-field-with-validation {
    width: 100%;
    height: auto;
}

.checkout-field,
.checkout-field-normal,
.input-countries {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 30px auto;
    border-bottom: 1.5px solid #000;
}

.input-countries {
    position: relative;
}

.check-input,
.checkout-search-input {
    font-size: 18px;
}

.check-field-validation {
    font-size: 12px;
    width: 100%;
    height: auto;
    color: #f00;
    line-height: 20px;
    padding: 0 10px;
}