.container {
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.6rem 0;
    gap: 3rem;
    font-family: var(--font-family-poppins);
    color: #ffffff;
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    position: relative;
}

.link.modalOpen::before {
    transform-origin: left;
    transform: scaleX(1);
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.modal {
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    max-width: 1000px; 
    max-height: 500px;
    position: absolute;
    top: 113px;
    background: white;
    z-index: 100000;
    overflow: auto; 
    border-radius: 10px;
    background-image: linear-gradient(200deg, #ffffff, #d8e2e2);
}

.horizontalSubcategories {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.subcategoryItem {
    width: calc(20% - 10px);
    margin: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.subcategoryItem::before {
    content: none;
}

.subcategoryItem img {
    width: 100px; 
    height: 100px;
    object-fit:contain;
}

.nameSubCategory {
    transform: translateX(15px);
    margin-top: 2px; 
    font-size: 16px;
    color: black;
}

.waypoint {
    list-style-type: none;
}

@media (max-width: 630px) {
    .container {
        display: none;
    }
}