.container{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.6rem 0;
    gap: 3rem;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
}
.link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.link:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

@media screen and (max-width: 750px) {
    .link{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 630px) {
    .container{
        flex-direction: column;
        gap: 0.2rem;
    }
    .link{
        font-size: 1.5rem;
    }
}
