.container{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.6rem 0;
    gap: 3rem;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}